
*.pkl

*.png

*.wav

audio/results

audio/extractedMel

audio/extractedWav

image/results

image/preprocessed_images

optimizers

splits/notGrouped

*.pyc



*.xml

*.iml

*.jpg

splits/JoI_splits/Native/Native.tar.gz
